*{
	margin:0;
	padding:0;
}

@font-face{	
	font-family: "titulo";
	src:url("verdanaz.ttf");
}

@font-face{	
	font-family: "texto";
	src:url("leelawdb.ttf");
}

body{
	background:#e6e6e6;
}

.cabecera{
	padding-top: 20px;
	font: 15px titulo;
	text-shadow: 5px 5px 10px #000000;
	color:#ffffff;
	background:-webkit-linear-gradient(110deg, green 25%,#00C000 60%, #75E375);
	padding-bottom: 0px;
	border-radius: 10px 10px 0px 0px;
}

.cabecera #logo{
	float: left;
	padding-left: 10px;
  	width:150px;
  	height:150px;
}

header, .main, footer{
	width: 90%;
	max-width: 1200px;
	margin: 20px auto;
}

header nav{
	overflow:hidden;
}

header nav ul{
	list-style: none;
	padding-left: 30px
}

header nav ul li{
	float: left;
}

header nav ul li a{ 
	padding:15px;
    padding-left: 19px;
	display: block;
	color: #fff;
	text-decoration:none;
	font: 18px texto;
	text-shadow: 1px 1px #000000;
}

header nav ul li a:hover{ 
	background:#e6e6e6;
	border-radius: 10px 10px 0px 0px;
	color:#007C00;
	transition: 0.4s;
	text-shadow: none;
}

.main .articles{
	width: 68.5%;
	margin-right: 1.5%;
	float: left;
}

.main .articles article{
	border: outset 5px green;
    padding: 20px;
    background:-webkit-linear-gradient(right, white 50%,#e6e6e6 115%);
    margin-bottom: 20px;
    font: 100% texto;
    text-align: justify;
}

.main .articles article h2{
	color: green;
}

aside{
	width: 30%;
	float: left;
	padding: 20px;
	padding-bottom: 277px;
	box-sizing: border-box;
	background:-webkit-linear-gradient(left, white 50%,#e6e6e6 115%);
    color: #000000;
    font: 15px texto;
    border: outset 5px #000E5B;
}

aside h2{
	font: 25px texto;
    color: #000E5B;
}

#m2{
    border-radius:  50px 50px 50px 50px;
    width:250px;
    height:200px;
}

#vi{
	width:210px;
  	height:210px;
}

img.zoom {
    width: 350px;
    height: 200px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

footer{
    background:-webkit-linear-gradient(bottom, #21970E 50%,#1FD502 80%,#21970E );
    border-radius: 0px 0px 10px 10px;
    color: #fff;
    clear: both;
    padding: 10px 0px;
    padding-top: 20px;
    padding-bottom:15px;
    font: 10px texto;
}

.container-footer-all{
    width: 100%;
    max-width: 1000px;
    padding-left: 60px;
}

.container-body{
    display: flex;
}

.colum1{
    max-width: 500px;
    padding-left: 150px;
    padding-right: 50px;
}

.colum1 h1{
    font-size: 22px;
    text-shadow: 1px 1px black;
}

.colum1 p{
    font-size: 12px;
    color: #ffffff;
    margin-top: 10px;
}

.colum2{
    max-width: 400px;
    padding-bottom: 20px;
    
}

.colum2 h1{
    font-size: 22px;
    text-shadow: 1px 1px black;
}

.row{
    margin-top: 10px;
    display: flex;
}

.row img{
    width: 50px;
    height: 50px;
    padding-right: 5px;
}

.row label{
    font-size: 12px;
    margin-top: 17px;
    margin-left: 10px;
    color: #ffffff;
}

.colum3{
    max-width: 400px;
    padding-left: 80px;
}

.colum3 h1{
    font-size: 22px;
    text-shadow: 1px 1px black;
}

.row2{
    margin-top: 12px;
    display: flex;
}

.row2 img{
    width: 30px;
    height: 30px;
}


.row2 label{
    font: 13px texto;
    margin-left: 10px;
    max-width: 180px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 10px;
}

.copyright{
    color: #C7C7C7;
    font: 13px texto;
    padding-left: 25%;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 1000px;
    }
}


#principal{
    background:#045C00;
    border-radius: 10px 10px 0px 0px;
}

#principal:hover{
    background:#e6e6e6;
    border-radius: 10px 10px 0px 0px;
    color:#007C00;
    transition: 0.4s;
    text-shadow: none;
}

#m1{
    width:200px;
    height:200px;
}

.carousel{
    width: 600px;
    height: 200px;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
}

.carousel ul{
    list-style: none;
    width: 2800px;
    display: flex;

    animation: slide 20s infinite alternate;
}

@keyframes slide{
    0%{margin-left: 0px;}
    20%{margin-left: 0px;}
    25%{margin-left: -200px;}
    45%{margin-left: -200px;}
    50%{margin-left: -400px;}
    70%{margin-left: -400px;}

}
